/build/
/dist/
/nbproject/private/
/src/java/com/mss/ediscv/doc/CVS/
/src/java/com/mss/ediscv/download/CVS/
/src/java/com/mss/ediscv/griddownload/CVS/
/src/java/com/mss/ediscv/inv/CVS/
/src/java/com/mss/ediscv/issues/CVS/
/src/java/com/mss/ediscv/lfc/CVS/
/src/java/com/mss/ediscv/logistics/CVS/
/src/java/com/mss/ediscv/logisticsdoc/CVS/
/src/java/com/mss/ediscv/logisticsloadtendering/CVS/
/src/java/com/mss/ediscv/ltResponse/CVS/
/src/java/com/mss/ediscv/manifacturing/CVS/
/src/java/com/mss/ediscv/payments/CVS/
/src/java/com/mss/ediscv/po/CVS/
/src/java/com/mss/ediscv/retail/CVS/
/src/java/com/mss/ediscv/shipment/CVS/
/src/java/com/mss/ediscv/switchflow/CVS/
/src/java/com/mss/ediscv/tp/CVS/
/src/java/com/mss/ediscv/tradingPartner/CVS/
/src/java/com/mss/ediscv/user/CVS/
/web/doc/CVS/
/web/inv/CVS/
/web/issues/CVS/
/web/lfc/CVS/
/web/logistics/CVS/
/web/logisticsdoc/CVS/
/web/logisticsloadtendering/CVS/
/web/ltResponse/CVS/
/web/payment/CVS/
/web/po/CVS/
/web/retailer/CVS/
/web/shipment/CVS/
/web/tp/CVS/
/web/tradingPartner/CVS/
/web/user/CVS/